<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" href="/img/Безымянный.png">
        <link rel="stylesheet" href="/css/profile.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="/js/google-translate.js"></script>
        <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
        <title>Car Details</title>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="main"><img src="" alt=""> <img src="/img/logo_size-removebg-preview.png" alt="" height="360" width="300px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="f alse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="main">Main Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/owner/<%= owner %>">Profile Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/owner/<%= owner %>/view">My Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/owner/<%= owner %>/cars">Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/logout">Log out</a>
                            </li>
                            <div class="language">
                                <img src="/img/lng/lang__en.png" alt="en" data-google-lang="en" class="language__img">
                                <img src="/img/lng/lang__ru.png" alt="ru" data-google-lang="ru" class="language__img">
                            </div>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <br><br><br>
    <table class="table">
        <tr>
            <img class="image" src="/img/upload_images/<%= car.img_name%>">
        </tr>
        <tr>
            <td scope="col">#</td>
            <td><%= car.car_id %></td>
        </tr>
        <tr>
            <td>Car Brand: </td>
            <td><%= car.car_brand %></td>
        </tr>
        <tr>
            <td>Car Class: </td>
            <td><%= car.car_type %></td>
        </tr>
        <tr>
            <td>Registration Number: </td>
            <td><%= car.registration_number %></td>
        </tr>
        <tr>
            <td>Model: </td>
            <td><%= car.model %></td>
        </tr>
        <tr>
            <td>Category: </td>
            <td><%= car.category %></td>
        </tr>
        <tr>
            <td>Certification Date: </td>
            <td><%= car.certificate_date %></td>
        </tr>
        <tr>
            <td>VIN: </td>
            <td><%= car.vin %></td>
        </tr>
        <tr>
            <td>Release Year: </td>
            <td><%= car.release_year %></td>
        </tr>
        <tr>
            <td>Engine Capacity: </td>
            <td><%= car.engine_capacity %></td>
        </tr>
        <tr>
            <td>Mass Without Load: </td>
            <td><%= car.mass_without_load %></td>
        </tr>
        <tr>
            <td>Max Mass Permitted: </td>
            <td><%= car.max_mass_perm %></td>
        </tr>
        <tr>
            <td>Series Certification: </td>
            <td><%= car.series_certificate %></td>
        </tr>
        <tr>
            <td>Costing: </td>
            <td><%= car.costing %></td>
        </tr>
        <tr>
            <td><a href="/users/owner/<%= owner %>/view/<%= car.car_id %>/edit" class="btn btn-warning">Edit</a></td>
            <form action="/users/owner/<%= owner %>/view/<%= car.car_id %>/delete" method="post">
                <td><button class="btn btn-warning" type="submit">Delete</button></td>
            </form>
        </tr>
    </table>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10023.817568901619!2d71.4183229!3d51.0908492!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1623301852926!5m2!1sru!2skz" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" align="center"></iframe>
    </div>

    <div class="container">
        <% if(messages.success_msg) { %>
            <h4><%= messages.success_msg %></h4>
        <% } %>
    </div>
    <br><br><br>
    </body>
    <footer>
        <div class="container2" id="con2">
            <div class="row">
                <div class="col-6 col-md-4" id="expressnqz1"> </div>
                <div class="col-6 col-md-4" id="expressnqz2">Help</div>
                <div class="col-6 col-md-4" id="expressnqz3">We are here</div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4"><a href="#carouselExampleControls"> <img src="/img/logo_size-removebg-preview2.png" alt=""></a></div>
                <br>
                <div class="col-6 col-md-4"><a href="mailto: rrruslaaan@gmail.com" target="_blank">Contact us</a></div>
                <div class="col-6 col-md-4"><a href="https://t.me/joinchat/Yv8v89yXaVxiNjcy" target="_blank"><img src="http://pngimg.com/uploads/telegram/telegram_PNG35.png" height="48px"></a><a href="https://www.instagram.com/" target="_blank">
                        <img src="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png" height="48px">
                    </a></div>
            </div>
        </div>
    </footer>
</html>