<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="icon" href="/img/Безымянный.png">
        <link rel="stylesheet" href="/css/profile.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="/js/google-translate.js"></script>
        <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
        <title>Car Details</title>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/users/main"><img src="" alt=""> <img src="/img/logo_size-removebg-preview.png" alt="" height="360" width="300px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="f alse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/main">Main Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/renter/<%= renter.id %>">Profile Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/renter/<%= renter.id %>/cars">Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/renter/<%= renter.id %>/orders">My Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/users/logout">Log out</a>
                            </li>
                            <div class="language">
                                <img src="/img/lng/lang__en.png" alt="en" data-google-lang="en" class="language__img">
                                <img src="/img/lng/lang__ru.png" alt="ru" data-google-lang="ru" class="language__img">
                            </div>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <br><br><br>
        <table class="table">
            <tr>
                <td>#</td>
                <td><%= order.order_id %></td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td><%= order.start_date %></td>
            </tr>
            <tr>
                <td>End Date</td>
                <td><%= order.end_date %></td>
            </tr>
            <tr>
                <td>Start Location</td>
                <td><%= order.start_location %></td>
            </tr>
            <tr>
                <td>End Location</td>
                <td><%= order.end_location %></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><%= order.price %></td>
            </tr>
            <tr>
                <td>Reservation Status</td>
                <td><%= order.reservation_status %></td>
            </tr>
            <tr>
                <td>Card Type</td>
                <td><%= order.card_type %></td>
            </tr>
            <tr>
                <td>Name on Card</td>
                <td><%= order.name_on_card %></td>
            </tr>
            <tr>
                <td>Card Number</td>
                <td><%= order.card_number %></td>
            </tr>
            <img class="image" src="/img/upload_images/<%= car.img_name%>">
            <tr>
                <td>Car ID</td>
                <td><%= car.car_id %></td>
            </tr>
            <tr>
                <td>Car Brand: </td>
                <td><%= car.car_brand %></td>
            </tr>
            <tr>
                <td>Car Class: </td>
                <td><%= car.car_type %></td>
            </tr>
            <tr>
                <td>Registration Number: </td>
                <td><%= car.registration_number %></td>
            </tr>
            <tr>
                <td>Model: </td>
                <td><%= car.model %></td>
            </tr>
            <tr>
                <td>Category: </td>
                <td><%= car.category %></td>
            </tr>
            <tr>
                <td>Certification Date: </td>
                <td><%= car.certificate_date %></td>
            </tr>
            <tr>
                <td>VIN: </td>
                <td><%= car.vin %></td>
            </tr>
            <tr>
                <td>Release Year: </td>
                <td><%= car.release_year %></td>
            </tr>
            <tr>
                <td>Engine Capacity: </td>
                <td><%= car.engine_capacity %></td>
            </tr>
            <tr>
                <td>Mass Without Load: </td>
                <td><%= car.costing %></td>
            </tr>
            <tr>
                <td>Max Mass Permitted: </td>
                <td><%= car.max_mass_perm %></td>
            </tr>
            <tr>
                <td>Special Routs: </td>
                <td><%= car.special_routs %></td>
            </tr>
            <tr>
                <td>Series Certification: </td>
                <td><%= car.series_certificate %></td>
            </tr>
            <tr>
                <td>Costing: </td>
                <td><%= car.costing %></td>
            </tr>
            <tr>
                <form action="/users/renter/<%= renter.id %>/orders/<%= order.order_id %>/started" method="post">
                    <td><button class="btn btn-warning" type="submit">Started</button></td>
                </form>
            </tr>
            <tr>
                <form action="/users/renter/<%= renter.id %>/orders/<%= order.order_id %>/completed" method="post">
                    <td><button class="btn btn-warning" type="submit">Completed</button></td>
                </form>
            </tr>
            <tr>
                <form action="/users/renter/<%= renter.id %>/orders/<%= order.order_id %>/canceled" method="post">
                    <td><button class="btn btn-warning" type="submit">Canceled</button></td>
                </form>
            </tr>
        </table>
        <div class="container">
            <% if(messages.error_msg) { %>
                <h4><%= messages.error_msg %></h4>
            <% } %>
        </div>
    <br><br><br>
    </body>
    <footer>
        <div class="container2" id="con2">
            <div class="row">
                <div class="col-6 col-md-4" id="expressnqz1"> </div>
                <div class="col-6 col-md-4" id="expressnqz2">Help</div>
                <div class="col-6 col-md-4" id="expressnqz3">We are here</div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4"><a href="#carouselExampleControls"> <img src="/img/logo_size-removebg-preview2.png" alt=""></a></div>
                <br>
                <div class="col-6 col-md-4"><a href="mailto: rrruslaaan@gmail.com" target="_blank">Contact us</a></div>
                <div class="col-6 col-md-4"><a href="https://t.me/joinchat/Yv8v89yXaVxiNjcy" target="_blank"><img src="http://pngimg.com/uploads/telegram/telegram_PNG35.png" height="48px"></a><a href="https://www.instagram.com/" target="_blank">
                        <img src="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png" height="48px">
                    </a></div>
            </div>
        </div>
    </footer>
</html>